<div align="center" style="margin-left: 400px; margin-right: 400px; border: 2px solid blue; 
border-radius: 5px;">
<form [formGroup]="form" align="center" class="example-form">
    <h3>LogIn</h3>
    <br>

 <mat-form-field class="example-full-width">
 <mat-label>Email</mat-label>
 <input matInput name="email" formControlName="email">
  <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
           
 </mat-form-field><br>
 <mat-form-field class="example-full-width">
 <mat-label>password</mat-label>
 <input matInput name="password" formControlName="password">
  <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
           
 </mat-form-field><br>
 <mat-form-field class="example-full-width">
 <mat-label>conform password</mat-label>
 <input matInput name="conform password" formControlName="conform_password">
  <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>        
 </mat-form-field><br>

       <br>
 <button mat-raised-button color="accent" (click)="logIn()" [disabled]="!form.valid">LogIn</button>
</form>
</div>


      <!-- <h5 *ngIf="show">My Name is {{form.value.fname}} {{form.value.lname}} i am {{form.value.birth | date: 'fullDate'}}and my gender is  
        {{form.value.gender}}. i live at {{form.value.address}} in the {{form.value.country}} and
        in {{form.value.state}} my pincode is {{form.value.pincode}}
         my pincode is {{form.value.email}}  .</h5>     -->
        
   
  