<!-- <p>header works!</p> -->

<header id="nav-wrapper">
  <nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a routerLink="/home">Logo Here</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
<a routerLink="/home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">
  <mat-icon>home</mat-icon>Home</span></span></a>
<a routerLink="/about-us" class="nav-link"><span class="nav-link-span"><span class="u-nav">
  <mat-icon>account_circle</mat-icon>About</span></span></a>
<a routerLink="/home" class="nav-link"><span class="nav-link-span"><span class="u-nav">Work</span></span></a>
<a routerLink="/contact-us" class="nav-link"><span class="nav-link-span"><span class="u-nav">
  <mat-icon> call</mat-icon>Contact</span></span></a>
<a routerLink="/register" class="nav-link"><span class="nav-link-span"><span class="u-nav">
  <mat-icon>filter</mat-icon>register</span></span></a>
<a routerLink="/login" class="nav-link"><span class="nav-link-span"><span class="u-nav">
  <mat-icon>settings_power</mat-icon>login</span></span></a>
    </div>
  </nav>
</header>






<!-- 
<nav class="nav">
    <h1>HEADER</h1>
    <div class="nav-search">
        <input type="text" placeholder="search Box">
        <button>Search</button>
    </div>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/">about us</a></li>
        <li><a routerLink="/">contact us</a></li>
              
    </ul>
  </nav>
  
  <div class="container">
      <div class="menu-bar">
    <ul>
      <li><a routerLink="/">form1</a></li>
     <li><a routerLink="/"> parent</a></li>
     <li><a routerLink="/"> hooks</a></li>
     <li><a routerLink="/">LogIn</a></li>
     <li><a routerLink="/">put</a></li>
     <li><a routerLink="/">PATCH</a></li>
     <li><a routerLink="/">Table</a></li>
     </ul>
    </div>
    </div>
     -->
  
